body {
    font-family:"Arial", "Meiryo", sans-serif;
    text-align: center;
}
.google-fonts {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
html {
    font-size: 20px;
}
h1 {
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 4px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
}
.text-pink {
    color: rgb(255, 192, 203);
}
.text-skyblue {
    color: skyblue;
}
#basic p {
    font-weight: bold;
}